/* ---- Global styles ---- */

/* CSS Reset */
* {
    box-sizing: border-box;
}

/* Body styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    color: #333;
    padding-top: 30px;
}

/* Disclaimer styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
.disclaimer {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
    z-index: 1000;
    font-weight: bold;
    height: 30px;
}

/* ---- Your custom styles below ---- */
header {
    background: #0047b3;
    color: white;
    font-size: 1.3rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1, h2, h3 {
    padding-left: 15px;
}

h1{
    font-weight: 400;
    margin:0;
}

.features{
    display: flex;
}

.add-medicine, .average-div{
    display: flex;
    flex-direction: column;
}

.add-medicine{
    width: 55%;
}

.average-div{
    width: 45%;
}

.average-price{
    font-weight: 600;
    color: #0047b3;
    font-size: x-large;
    display: flex;
    height: 134px;
    margin: 0;
}

.form-div,.average-price, .medicine-div{
    background-color: #ffffff;
    border-radius: 6px;
    padding: 14px;
    margin-left: 15px;
    margin-right: 15px;
}

.form{
    display: flex;
    flex-direction: column;
    height: 106px;
}

.form-element, .submit-button{
    padding-left: 8px;
    padding-right: 6px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: white;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
}

.form-element{
    margin-bottom: 6px;
    border-color: black;    
}

.submit-button{
    background-color: #0047b1;
    color: #ffffff;
}

.submit-button:hover{
    cursor: pointer;
    color: black;
    background-color: #ffffff;
    border-color: #0047b1;
    border-width: 1.5px;
    transition:50ms;
}

.edit-button{
    background-color: #0047b3;
    border: none;
    border-radius: 3px;
    color: #f4f4f4;
    padding: 8px 12px;
}

.edit-button:hover{
    cursor: pointer;
    background-color: #003e9a;
    transition:50ms;
}

.delete-button{
    padding: 8px 12px;
    border-radius: 3px;
    background-color: rgb(219, 0, 0);
    color: #ffffff;
    border: none;
}

.delete-button:hover{
    cursor: pointer;
    background-color:rgb(182, 0, 0);
    transition:50ms;
}